.molecule-task {
  padding-bottom: 1.5em;
  position: relative;
  .molecule-task__description {
    margin-left: .5em;
  }
  .molecule-task__due, .molecule-task__stakes {
    position: absolute;
    bottom: 0;
    opacity: .5;
  }
  .molecule-task__due {
    left: 1.5em;
  }
  .molecule-task__stakes {
    right: 0;
  }
}