.page-tasks {
  form {
    .page-tasks__inputs {
      display: flex;
      flex-wrap: wrap;
      label {
        font-size: .75em;
        font-weight: bold;
        margin-right: 1em;
        margin-bottom: 1em;
        flex-grow: 1;
      }
      input {
        margin-top: .25em;
        height: 2em;
        width: 100%;
        padding: 1px;
      }
    }
    .page-tasks__description {
      flex: 0 0 100%;
    }
    .page-tasks__stakes {
      position: relative;
      &:before {
        content: '$';
        position: absolute;
        bottom: 0.5em;
        left: .5em;
        font-weight: normal;
      }
      input {
        padding-left: 1.2em;
      }
      &:after {
        content: 'USD';
        position: absolute;
        bottom: 0.5em;
        right: .5em;
        font-weight: normal;
      }
    }
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style-type: none;
    margin-bottom: .5em;
    padding: .5em;
    &:nth-child(odd) {
      background-color: #e8e8e8;
    }
  }
}