.page-tasks {
  form {
    .page-tasks__inputs {
      display: flex;
    }
    label {
      font-size: .75em;
      font-weight: bold;
    }
    input {
      margin-top: .25em;
      height: 2em;
    }
    //padding-bottom: 1rem;
    //label {
    //  display: flex;
    //  justify-content: space-between;
    //}
    //input {
    //  flex: 0 1 80%
    //}
    //.page-tasks__addButton {
    //  float: right;
    //  margin-top: .5rem;
    //}
  }
}