---
import Layout from '../layouts/Layout.astro';
import ButtonLoading from '../components/ButtonLoading.astro';
---

<Layout title="Login">
	<form id="login-form">
		<p>
			Please login or <a href="/register">register</a> to view this page.
		</p>
		<label for="email">Email</label>
		<input type="email" id="email" name="email" required />
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required />
		<ButtonLoading type="submit">Login</ButtonLoading>
		<ButtonLoading id="reset">Reset Password</ButtonLoading>
	</form>
</Layout>

<script>
	import { login, requestResetEmail } from '@taskratchet/sdk';

	async function handleSubmit(event: Event) {
		event.preventDefault();
		const form = document.querySelector('#login-form') as HTMLFormElement;
		const submitButton = form.querySelector(
			'button[type="submit"]'
		) as HTMLButtonElement;
		submitButton.dataset.loading = 'true';
		submitButton.disabled = true;

		const email = form.email.value;
		const password = form.password.value;
		const success = await login(email, password);

		if (success) {
			const prev = new URLSearchParams(window.location.search).get('prev');
			window.location.href = prev || '/';
		} else {
			alert('Login failed');
			submitButton.dataset.loading = 'false';
			submitButton.disabled = false;
		}
	}

	async function handleReset(event: Event) {
		event.preventDefault();
		const form = document.querySelector('#login-form') as HTMLFormElement;
		const resetButton = form.querySelector('#reset') as HTMLButtonElement;
		resetButton.dataset.loading = 'true';
		resetButton.disabled = true;
		const email = form.email.value;

		if (!email) {
			alert('Please enter your email address');
			return;
		}

		try {
			await requestResetEmail(email);
			alert('Password reset email sent');
			resetButton.dataset.loading = 'false';
			resetButton.disabled = false;
		} catch (error) {
			if (error instanceof Error) {
				alert(error.message);
			} else {
				alert('An error occurred');
			}
			resetButton.dataset.loading = 'false';
			resetButton.disabled = false;
		}
	}

	document
		.querySelector('#login-form')
		?.addEventListener('submit', handleSubmit);
	document.querySelector('#reset')?.addEventListener('click', handleReset);
</script>

<style>
	body {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	input {
		display: block;
		margin-bottom: 1rem;
	}
</style>
