<div>
  <h1>Account</h1>
  <p>account works!</p>
<!--  <div class="example-container">-->
<!--    <mat-form-field>-->
<!--      <input matInput placeholder="Credit Card Number">-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date">-->
<!--      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #dp-->
<!--                      startView="multi-year"-->
<!--                      (yearSelected)="chosenYearHandler($event)"-->
<!--                      (monthSelected)="chosenMonthHandler($event, dp)"-->
<!--                      panelClass="example-month-picker">-->
<!--      </mat-datepicker>-->
<!--    </mat-form-field>-->
<!--    <button mat-button>Save</button>-->
<!--  </div>-->
</div>
