.molecule-task {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  margin-left: 1rem;

  .molecule-task__left {
    position: relative;
    padding: .5em .5em 2em .5em;
    flex: 1 1 auto;

    .molecule-task__description {
      margin-left: .5em;
    }

    .molecule-task__labels {
      padding-left: 0;
      position: absolute;
      top: .5em;
      right: .5em;

      li {
        list-style-type: none;
        display: inline-block;
        margin-left: .5em;
        border-radius: 4px;
        opacity: 0.5;
      }
    }

    .molecule-task__due, .molecule-task__dollars {
      position: absolute;
      bottom: .5em;
      opacity: .5;
    }

    .molecule-task__due {
      left: 2em;
    }

    .molecule-task__dollars {
      right: .5em;
    }
  }

  &.molecule-task__pending {
    background-color: #dfe5f6;
  }
  &.molecule-task__expired {
    background-color: #f6dfdf;
  }
  &.molecule-task__complete {
    background-color: #e2eee2;
  }

  &.molecule-task__highlight {
    animation: 2s highlight;
  }

  @keyframes highlight {
    0% {
      box-shadow: none;
    }
    25% {
      box-shadow: inset 0 0 0 1000px gold;
      color: black;
    }
    75% {
      box-shadow: inset 0 0 0 1000px gold;
      color: black;
    }
    100% {
      box-shadow: none;
    }
  }
}
