.organism-taskList {
  padding-left: 0;
  padding-bottom: 3rem;
  > li {
    list-style-type: none;
    &:nth-child(odd) {
      background-color: #ededed;
    }
  }
  .organism-taskList__todayDivider {
    margin-top: 1rem;
  }
  .organism-taskList__today {
    text-align: center;
  }
}
