---
import { COLORS } from '../constants.js';

interface Props {
	title: string;
}

const { title } = Astro.props;

const primaryDark = COLORS.warm.lighter,
	primaryLight = COLORS.cool.main,
	secondaryDark = COLORS.cool.main,
	secondaryLight = COLORS.warm.main;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script>
			window.stripe_key = import.meta.env.VITE_STRIPE_KEY;
		</script>
		<script src="https://js.stripe.com/v3/" type="module"></script>

		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style
	is:global
	define:vars={{
		primaryDark,
		primaryLight,
		secondaryDark,
		secondaryLight,
	}}
>
	:root {
		--primary: var(--primaryLight);
		--secondary: var(--secondaryLight);
		--color: #333;
		--background: #eaeaea;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--primary: var(--primaryDark);
			--secondary: var(--secondaryDark);
			--color: #fff;
			--background: #13151a;
		}
	}

	html {
		font-family: system-ui, sans-serif;
		color: var(--color);
		background: var(--background);
	}

	a {
		color: var(--primary);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
